@font-face{
  font-family: 'Karla';
  src: url('/static/fonts/Karla/Karla-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla','Arial';
}


#root {
  margin:auto;
}

@media (min-width: 500px) {
  #root {
    width: 500px;
  }
}
